In [56]:
from collections import namedtuple
import pandas as pd
import numpy as np
import functools 

import sqlite3
%run queries_explore.py

In [57]:
conn = sqlite3.connect("/Users/jnear/temp/imdb/imdb.db")
df = pd.read_sql_query("select count(*) from title;", conn)
df.head()

   count(*)
0   2524974

In [41]:
dict_all = defaultdict(lambda: {})
dict_occur = defaultdict(lambda: defaultdict(int))
tables = {1: ['ct', 'it', 'mc', 'mi_idx', 't'],
          2: ['cn', 'k', 'mc', 'mk', 't']}

for q_num in [1, 2]:
    for q_variant in ['a', 'b', 'c', 'd']:
        q_name = f"q{q_num}{q_variant}"
        print(f"Running query {q_name}")
        fn = globals()[q_name]
        for tbl in tables[q_num]:
            query = fn(f"{tbl}.id")
            result = pd.read_sql_query(query, conn)['id'].unique().tolist()
            dict[tbl][q_name] = result
            for r in result:
                dict_occur[tbl][r] = dict_occur[tbl][r] + 1

Running query q1a
Running query q1b
Running query q1c
Running query q1d
Running query q2a
Running query q2b
Running query q2c
Running query q2d

In [54]:
for k in dict_occur.keys():
    print(f"\n========= \t{k}\t ===========")
    d = defaultdict(int)
    for v in dict_occur[k].values():
        d[v] += 1
    for k,v in d.items():
        print(f"{v}\t rows are used {k} times")

========= 	ct	 ===========
1	 rows are used 4 times

========= 	it	 ===========
2	 rows are used 2 times

========= 	mc	 ===========
80198	 rows are used 1 times
38	 rows are used 2 times

========= 	mi_idx	 ===========
106	 rows are used 1 times
5	 rows are used 2 times

========= 	t	 ===========
22404	 rows are used 1 times
1248	 rows are used 3 times
16	 rows are used 4 times
2662	 rows are used 2 times

========= 	cn	 ===========
10983	 rows are used 1 times

========= 	k	 ===========
1	 rows are used 3 times

========= 	mk	 ===========
2660	 rows are used 2 times
22340	 rows are used 1 times
1259	 rows are used 3 times